@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: "EB Garamond";
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	line-height: 140%;
	margin: 0;
    padding: 0;
    max-width: 30em;
    margin: 2rem auto;
}

a {
	text-decoration: none;
	font-style: italic;
	color: black;
}

#cover-image {
	display: none;
}

#front-matter {
	margin-bottom: 3em; 
}

#front-matter p {
	text-align: center;		 
}

/* On wider screens, the front-matter is hidden and replaced by the cover
   images. In addition, the TOC is moved to the left as a fixed element.
*/
@media screen and (min-width: 60em) {
	.toc {
		position: fixed;
		top: 1em;
		left: 1em;
	}
	#front-matter,
	h1#contents {
		display: none;
	}	
	.toc,
	.toc a {
		color: lightgray;
		transition: color 1s;
	}
	
	.toc:hover {
		max-height: calc(100vh - 2em);
		overflow-y: auto;	
	}

	.toc:hover,
	.toc:hover a {
		color: black;
		transition: color 1s;
	}

	#cover-image {
		display: block;
	}

	#cover-image img {
		max-width: 30em;
		border: solid 1px black;
	}
}

@media screen and (max-width: 59em) {
	body {
		padding: 1em;
	}
	h1#contents {
		display: none;
	}	
}

.toc a {
	font-style: normal;
}


* {
	margin: 0px;
}

strong {
	font-weight: normal;
}

em {
    font-style: normal;
}

p {
	text-align: justify;
}

p + p {
	text-indent: 1em;
}

p:has(img) {
	text-indent: 0;
	text-align: center;
}

blockquote {
	font-style: italic;
	margin: 1em;
}

img {
	max-width: 100%;
	margin: 1em 0em;
}


h1 {
	text-align: center;
	font-size: 1.5em;
	font-family: "Jost";
	text-transform: uppercase;
	font-weight: normal;
	line-height: 140%;
	margin: 4em 2em 2em 2em;
}

#foundations,
#intelligence,
#uncertainty,
#causality,
#past-and-future,
#choice,
#belief,
#morality-and-cooperation,
#real-life {
	margin-top: 10em;
	font-size: 2em!important;
}


h2 {
	text-align: center;
	font-weight: 600;
	font-size: 1.1em;
	margin: 1.5em 0em .75em 0em;
}

p + pre,
pre + p,
pre + pre {
	margin-top: 1em;
}

ul {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 1em;
}

.references {
	font-size: .8em;
	text-indent: -1em;
	margin-left: 1em;
}

table {
	margin-top: 1em;
	margin-bottom: 1em;
}

.toc ul {
	margin: 0;
}

.math {
	margin-bottom: 1em;
	margin-top: 1em;
}