@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&display=swap');

body {
	font-family: "Adobe Garamond Pro";
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	line-height: 140%;
	margin: 0;
    padding: 0;
}	

a {
	text-decoration: none;
	font-style: italic;
	color: black;
}

.toc a {
	font-style: normal;
}
	
* {
	margin: 0px;
}

strong {
	font-weight: normal;
}

em {
    font-style: normal;
}

p {
	text-align: justify;
}

p + p {
	text-indent: 1em;
}


h1 {
	text-align: center;
	font-size: 1.5em;
	font-family: "Futura Book";
	text-transform: uppercase;
	font-weight: normal;
	line-height: 140%;
	margin: 4em 2em 2em 2em;
}

#foundations,
#intelligence,
#uncertainty,
#causality,
#past-and-future,
#choice,
#belief,
#morality-and-cooperation,
#real-life {
	margin-top: 10em;
	font-size: 2em!important;
}


h2 {
	text-align: center;
	font-weight: 600;
	font-size: 1.1em;
	margin: 1.5em 0em .75em 0em;
}
	
p + pre,
pre + p,
pre + pre {
	margin-top: 1em;
}

ul {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 1em;
}

.references {
	font-size: .8em;
	text-indent: -1em;
	margin-left: 1em;
}

table {
	margin-top: 1em;
	margin-bottom: 1em;
}

.toc ul {
	margin: 0;
}

.math {
	margin-bottom: 1em;
	margin-top: 1em;
}
